<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">
  <li class="mb-3" style="font-size: x-large; border-bottom: solid 1px black; padding-bottom: 10px">지역 선택</li>
  <div class="mb-3">
    <h2 th:text="${areaText}"></h2>
  </div>
  <div class="mb-3">
    <select th:onchange="|location.href=`@{/board/list/${this.options[this.selectedIndex].value}}`|" class="form-select">
      <option value="">대학교를 선택해주세요</option>
      <option th:each="element : ${map}" th:value="${element.key}" th:text="${element.value}"></option>
    </select>
  </div>
</div>
</html>